<% include ./partials/boilerplate %>
          <div class='container'>
            <h1><%= message %></h1>
          <img src='/images/todo.png'  id ="image" >
          </div >
 <% include ./partials/end %>
