<% include ../partials/boilerplate %>
<form method='POST' action='/todos'>
  <input name='title' type='text' placeholder='title' />
  <input name='category' type='text' placeholder='category' />
  <input name='status' type='text' placeholder='status'>
  <input type='submit' value='Submit!' />
</form>

<% include ../partials/end %>