<% include ../partials/boilerplate %>

<div class='login-container'>
<form method='POST' action='/todos'>
  <input name='title' type='text' placeholder='title' />
  <input name='category' type='text' placeholder='category' />
  <input name='status' type='text' placeholder='status'>
  <input type='submit' value='Submit' class="bu"/>
</form>
</div>

<% include ../partials/end %>
