 <% include ../partials/boilerplate %>
<div  class='container'>
   <div class='todo'>
      <h1><span id="underline">Task: </span> <%= data.title %></h1>
      <h1><span id="underline">Category: </span> <%= data.category %></h1>
      <h3><span id="underline">Status: </span> <%= data.status %></h3>
      <div class="button-container">
            <a href='/todos/all'>See all ToDos<br></a>
            <a href="/todos/<%= data.id %>/edit">Edit Task</a>
            <form method="POST" action="?_method=DELETE">
              <button type="submit" class="bu">Dlete Task</button>
            </form>

                </div>
    </div>
  </div>

   <% include ../partials/end %>
